---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import SocialPill from "../components/SocialPill.astro"
import LinkedIn from "../components/icons/LinkedIn.astro"
import Github from "../components/icons/Github.astro"
import Email from "../components/icons/Email.astro"
import Experience from "../components/Experience.astro"
import SectionContainer from "../components/SectionContainer.astro"
import BriefCase from "../components/icons/BriefCase.astro"
import Code from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
---

<Layout title='Portfolio Juan - Desarrollador y Programador Web' description="Contrata a Juan Esteban para crear tu web única. Desarrollador y Programador Web">
  <main class="px-4">
    <SectionContainer>
			<img class="w-12 h-17 py-3" src="https://lh3.googleusercontent.com/a/ACg8ocJSNbMkwgt2AYWARiGsKS2vcZpxtKVsn6utIwyXjFVxrXs=s288-c-no" alt="juan photo"  id="sobre-mi">
      <h1
        class='text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-start flex-row gap-x-4 pb-5'
      >
        Hey, soy Juan Esteban <a
          href='https://www.linkedin.com/in/juan-esteban-morales-s%C3%A1enz-6822b1213/'
          target='_blank'
          rel='noopener'
          class='flex justify-start lg:justify-center items-center'
          ><Badge>Disponible para trabajar</Badge></a>
      </h1>
      <h2 class='text-xl lg:text-2xl opacity-80 max-w-[700px]'>
        <span class="text-yellow-200">Desarrollador Web Fullstack.</span> Me especializo en crear soluciones para
        webs únicas.</span> De Bogotá DC, Colombia CO.
      </h2>

			<nav class="flex gap-x-3 mt-8">
				<SocialPill href="https://www.linkedin.com/in/juan-esteban-morales-s%C3%A1enz-6822b1213/">
					<LinkedIn />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/JuanEsMorales">
					<Github />
					Github
				</SocialPill>
				<SocialPill href="mailto:juanchito89768@gmail.com">
					<Email />
					juanchito89768@gmail.com
				</SocialPill>
			</nav>
    </SectionContainer>
		<SectionContainer id="experiencia">
			<h1 class="flex gap-x-3 lg:py-4 justify-start items-center text-2xl">
				<BriefCase />
				Experiencia laboral
			</h1>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h1 class="flex gap-x-3 lg:py-4 justify-start items-center text-2xl">
				<Code />
				Proyectos
			</h1>
			<Projects />
		</SectionContainer>
  </main>
</Layout>
<style>
  img {
    border-radius: 50%;
  }
</style>